{% extends "base.html" %}
{% block body_content %}
    <!-- Food Catagory Section Start here -->
		<section class="food-category padding-tb">
				<div class="food-box">
					<div class="section-header">
						<h2>Nos catégories d'aliments</h2>
                                        <h6 style="color: darkred; font: bold;">Attention les recettes que nous vous recommandons ne sont pas substituables à une prescription médicale, si les symptômes persistent contactez un professionnel.</h6>
						<p>Selectionnez une catégorie d'aliments.</p>
					</div>
					<div class="section-wrapper">
						<div class="food-content">
						<div class="food-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="../static/images/food-recipe/01.jpeg" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Viandes</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="../static/images/food-recipe/02.jpg" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Fruits</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="../static/images/food-recipe/03.jpg" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Légumes</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="../static/images/food-recipe/04.webp" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Poissons</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="food-item">
										<div class="food-thumb">
											<a href="#"><img src="../static/images/food-recipe/05.jpg" alt="food"></a>
										</div>
										<div class="food-content">
											<a href="#">Fruits secs</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Food Catagory Section Ending here -->


		<!-- Popular Food Section Start Here -->
		<section class="popular-foods padding-tb style-2">
            <div class="container">
                <div class="section-wrapper">
									<h2>Les aliments les plus populaires</h2>
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/oeufs.webp" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Oeuf') }}">Oeuf</a></h6>
                                        <p>Source de protéines de bonnes qualités nutritionnelles pour l'organisme, est un aliment très rassasiant.</p>
                                        <div class="p-food-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/citron-jaune%20(1).jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Citron') }}">Citron</a></h6>
                                        <p>Source de vitamine C, est un excellent allié contre la fatigue ! Le citron aide aussi à faciliter la digestion.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/primeale-les-carottes-vrac.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Carotte') }}">Carotte</a></h6>
                                        <p>Aide à booster le système immunitaire, à améliorer la vue, idéale pour garder la ligne.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/pommesdeterre.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Pomme de terre') }}">Pomme de terre</a></h6>
                                        <p>Un légume complet qui participe à un bon équilibre alimentaire associée à un régime varié.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/photospommes.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Pomme') }}">Pomme</a></h6>
                                        <p>Protége l'estomac par sa richesse en fibres et nourrit le microbiote. C'est un très bon dépuratif sanguin.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/oignons.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Oignon') }}">Oignon</a></h6>
                                        <p>Lutte contre le vieillissement prématuré des cellules, améliore et complète la flore intestinale, évite les troubles digestifs.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/patate.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Manioc') }}">Manioc</a></h6>
                                        <p>Très digeste, rassasiant, a un effet régulateur sur le transit intestinal.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/choux.webp" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Choux') }}">Choux</a></h6>
                                        <p>Détoxifiant, accélère l'élimination des toxines. Riche en vitamine C, renforce l'organisme et lutte contre les maladies.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/betterave.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Betterave') }}">Betterave</a></h6>
                                        <p>La betterave renferme des vitamines et des minéraux, ce qui permet de redonner de l'énergie à un coprs fatigué.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/ananas.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Ananas') }}">Ananas</a></h6>
                                        <p>Améliore la qualité de la digestion, soulage les douleurs articulaires, renforce le systeme immunitaire.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/oranges.webp" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Oranges') }}">Oranges</a></h6>
                                        <p>Riche en vitamine C, lutte contre les virus hivernaux.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/food/food%20healthme/fraise-fraîche-40742985.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Fraise') }}">Fraise</a></h6>
                                        <p>Riche en vitamine C, lutte contre la fatigue, stimule le système immunitaire.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Popular Food Section Ending Here -->

{% endblock %}
