{% extends "base.html" %}
{% block boy_title %}Connecter{% endblock %}
{% block body_content %}
<section class="booking-table padding-tb" style="background: #fffaf4;">
    <div class="container">
        <div class="section-header">
            <h2>Connectez-vous !</h2>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <form action="" method="post">  <!-- action='' rendre sur page maintenant-->
                            <table style="width: 100%; ">
                                <tr>
                                    <th><label>Email : </label></th>
                                    <td style="text-align: center;"><input name="email" type="email" placeholder="Inserer votre mail" style="text-align: center; width:100%; padding:0px;" required></td>
                                </tr>
                                <tr>
                                    <th><label>Mot de passe : </label></th>
                                    <td style="text-align: center;"><input name="motdepass" type="password" placeholder="Inserer un mot de passe valable" style="text-align: center; width:100%; padding:0px;" required/></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/Page_acceuil" class="food-btn style-2"><span>Connection</span></a>
                                    </td>
                                </tr>											
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking Table Section Ending Here -->
{% endblock %}

