{% extends "base.html" %}
{% block body_content %}
<!-- Food Catagory Section Start here -->
<section class="food-category padding-tb">
    <div class="container">
        <div class="food-box">
            <div class="section-header">
                <h2>Quelle recette pour quel repas?</h2>
                <h6 style="color: darkred; font: bold;">Attention les recettes que nous vous recommandons ne sont pas substituables à une prescription médicale, si les symptômes persistent contactez un professionnel.</h6>
                <p>Veuillez clicker sur l'image qui correspond à votre recherche de recette.</p>
            </div>
            <div class="section-wrapper">
                <div class="food-content">
                    <div class="food-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="food-item">
                                    <div class="food-thumb">
                                        <a href="#"><img src="../static/images/food/breakfast.jpg" alt="food"></a>
                                    </div>
                                    <div class="food-content">
                                        <a href="#">Petit Déjeuner</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="food-item">
                                    <div class="food-thumb">
                                        <a href="#"><img src="../static/images/food/dej.jpg" alt="food"></a>
                                    </div>
                                    <div class="food-content">
                                        <a href="#">Déjeuner</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="food-item">
                                    <div class="food-thumb">
                                        <a href="#"><img src="../static/images/food/diner.jpg" alt="food"></a>
                                    </div>
                                    <div class="food-content">
                                        <a href="#">Dîner</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="food-item">
                                    <div class="food-thumb">
                                        <a href="#"><img src="../static/images/food/jus.jpg" alt="food"></a>
                                    </div>
                                    <div class="food-content">
                                        <a href="#">Jus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="food-item">
                                    <div class="food-thumb">
                                        <a href="#"><img src="../static/images/food/the.jpg" alt="food"></a>
                                    </div>
                                    <div class="food-content">
                                        <a href="#">Thé</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Food Catagory Section Ending here -->

<!-- Blog Page Section Start Here -->
<section class="popular-foods padding-tb style-2">
    <div class="container">
        <div class="section-wrapper">
          <h2>Les recettes à la une</h2>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="p-food-item">
                        <div class="p-food-inner">
                            <div class="p-food-thumb">
								<img src="../static/images/recettes/pancake.jpg">
							</div>
							<div class="p-food-content">
								<h6><a href="/recette.html">Pancakes à la courgette</a></h6>
								<p>Indispensable du brunch dominical, délicieusement fluffy.</p>
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="p-food-item">
                        <div class="p-food-inner">
                            <div class="p-food-thumb">
                                <img src="../static/images/recettes/puree.webp">
                            </div>
                            <div class="p-food-content">
                                <h6><a href="/recette">Purée de patate douce</a></h6>
                                <p>Pour cette recette, vous pouvez compter 10 minutes de préparation.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="p-food-item">
                        <div class="p-food-inner">
                            <div class="p-food-thumb">
                                <img src="../static/images/recettes/avocat.webp">
                            </div>
                            <div class="p-food-content">
                                <h6><a href="/recette.html">Sandwiches à l'avocat et aux figues</a></h6>
                                <p>Un sandwich sucré salé pour ceux qui aiment sortir des sentiers battus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
