{% extends "base.html" %}
{% block body_content %}
<!-- Blog Page Section Start Here -->
<div class="blog-section blog-page padding-tb">
  <h6>Résultats de la recherche</h6>
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <article>
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-content">
                                    <h4><img src="../static/images/recettes/puree.webp"
                                             style="width:150px; height:100px; padding:10px;"><a href="recette.html">Purée de patate douce</a></h4>
                                    <p>Ingrédients : <br>
                                        ● 500 g de patates douces <br>
                                        ● 4 cuillères à soupe de lait végétal ( lait de coco, lait de soja, lait d’amande...) <br>
                                        ● 2 cuillères à soupe d’huile d’olive <br>
                                        ● sel <br>
                                        ● 1 pincée de cannelle <br>
                                        ● Noix de muscade fraîchement râpée <br>
                                        ● Quelques flocons de piment</p>
                                    <a href="recette.html" class="food-btn style-2"><span>Voir plus...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="post-item slider-post">
                            <div class="post-inner">
                                <div class="post-content">
                                    <h4><img src="../static/images/recettes/lasagnes.png"
                                             style="width:150px; height:100px; padding:10px;"><a href="/recette">Lasagnes aux épinards</a></h4>
                                    <p>Ingrédients : <br>
                                        ● 500g feuilles d’épinards surgelées ou pousses d’épinards fraîches <br>
                                        ● 50cl de bouillon de légumes (bouillon dilué dans 50 cl d’eau tiède)<br>
                                        ● 20cl de crème de soja<br>
                                        ● une bûche de fromage de chèvre<br>
                                        ● 4 tranches de saumon fumé<br>
                                        ● sel, poivre<br>
                                        ● lasagnes</p>
                                    <a href="/recette" class="food-btn style-2"><span>Voir plus...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="post-item slider-post">
                            <div class="post-inner">
                                <div class="post-content">
                                    <h4><img src="static/images/recettes/pancake.jpg"
                                             style="width:150px; height:100px; padding:10px;"><a href="/recette">Pancakes à la courgette</a></h4>
                                    <p>Ingrédients : <br>
                                        ● 200g de courgettes <br>
                                        ● 2 oeufs <br>
                                        ● 160g de farine complète <br>
                                        ● 1 pincée de sel et/ou de poivre <br>
                                        ● 2 cuillères à soupe de parmesan <br>
                                        ● 200ml de lait végétal au choix <br>
                                        ● 1 cuillère à café de levure <br>
                                        ● huile pour la cuisson (de préférence coco désodorisée, sésame ou olive)</p>
                                    <a href="/recette" class="food-btn style-2"><span>Voir plus...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="post-item qute-post">
                            <div class="post-inner">
                                <div class="post-content">
                                    <h4><img src="../static/images/recettes/avocat.webp"
                                             style="width:150px; height:100px; padding:10px;"><a href="recette.html">Sandwiches à l'avocat et aux figues</a></h4>
                                    <p>Ingrédients :
                                        ● 4 tranches de pain grillé
                                        ● 2-3 figues fraîches
                                        ● 1 grand avocat
                                        ● 1/2 tasse d’épinards frais
                                        ● Tranche d’emmental</p>
                                    <a href="recette.html" class="food-btn style-2"><span>Voir plus...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="paginations">
                            <ul class="d-flex flex-wrap justify-content-center">
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">2</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a class="dot">...</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">9</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">10</a>
                                </li>
                                <li>
                                    <a href="#">11</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-7 col-12">
                    <aside>


                        <div class="widget widget-post">
                            <div class="widget-header">
                                <h5>Les aliments clés</h5>
                            </div>
                            <ul class="widget-wrapper">
                                <li class="d-flex flex-wrap justify-content-between">
                                    <div class="post-thumb">
                                        <a href="#"><img src="../static/images/recettes/patatedouce.jpg" alt="product"></a>
                                    </div>
                                    <div class="post-content">
                                        <h6><a href="#">Patate douce</a></h6>
                                        <p> ● Vitamine A, D</p>
                                        <p> ● Caroténoïdes</p>
                                        <p> ● Potassium</p>
                                    </div>
                                </li>
                                <li class="d-flex flex-wrap justify-content-between">
                                    <div class="post-thumb">
                                        <a href="#"><img src="../static/images/recettes/epinards.jpg" alt="product"></a>
                                    </div>
                                    <div class="post-content">
                                        <h6><a href="#">Epinards</a></h6>
                                        <p> ● Vitamine C, E, K</p>
                                        <p> ● Fer</p>
                                        <p> ● Potassium </p>
                                    </div>
                                </li>
                                <li class="d-flex flex-wrap justify-content-between">
                                    <div class="post-thumb">
                                        <a href="#"><img src="../static/images/recettes/ble.jpg" alt="product"></a>
                                    </div>
                                    <div class="post-content">
                                        <h6><a href="#">Blé complet</a></h6>
                                        <p> ● Minéraux</p>
                                        <p> ● Fibres</p>
                                        <p> ● Protéines</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
