{% extends "base.html" %}
{% block body_content %}
			<!-- Book Product Section Start here -->
            <div class="container">
                <div class="section-header style-2">
                    <h5>Chercher par symptômes</h5>
                    <a href="#" class="text-btn">Tous les symptômes<i class="icofont-rounded-double-right"></i></a>
                </div>
                <div class="section-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="../static/images/personnesmalades/maux%20de%20tete.jpg" alt="food-product">
                                </div>
                                <div class="product-content">
		                              	<p> <a href="/aliment&recette">Maux de tête</a> </p>
																</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="../static/images/symptomes/nausee.png" alt="food-product">
                                </div>
                                <div class="product-content">
                                    <p> <a href="/symptome_cliquer">Nausées ou vomissements</a></p>
                                </div>
                            </div>
                        </div>
												<div class="col-lg-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="../static/images/symptomes/mauxventre.jpg" alt="food-product">
                                </div>
                                <div class="product-content">
		                              	<p> <a href="/symptome_cliquer">Maux de ventre</a> </p>
																</div>
                            </div>
                        </div>
												<div class="col-lg-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="../static/images/personnesmalades/mal%20de%20gorge.jpg" alt="food-product">
                                </div>
                                <div class="product-content">
		                              	<p> <a href="/symptome_cliquer">Maux de gorge</a> </p>
																</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Book Product Section Ending here -->

        <!-- Photo Gallery Section Start Here -->
        <section class="gallery-section padding-tb bg-body">
            <div class="container">
							<br>
                <div class="gallery-area">
                    <div class="section-header style-2">
                        <h4>Adoptez les bonnes habitudes!</h4>
                    </div>
                    <div class="section-wrapper">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/images/symptomes/health.png" alt="gallery">
                                        <a href="../static/images/symptomes/health.png" data-rel="lightcase" class="gallery-icon" title="Privilégiez les fruits et légumes!"><i class="icofont-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/images/symptomes/dormir.jpg" alt="gallery">
                                        <a href="../static/images/symptomes/dormir.jpg" data-rel="lightcase" class="gallery-icon" title="Une heure de sommeil avant minuit, en vaut deux du matin."><i class="icofont-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/images/symptomes/break.png" alt="gallery">
                                        <a href="../static/images/symptomes/break.png" data-rel="lightcase" class="gallery-icon" title="Tout bonheur commence par un petit déjeuner tranquil."><i class="icofont-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/images/symptomes/eau.jpg" alt="gallery">
                                        <a href="../static/images/symptomes/eau.jpg" data-rel="lightcase" class="gallery-icon" title="Notre corps a besoin d'eau, afin de rester bien hydraté."><i class="icofont-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Photo Gallery Section Ending Here -->
{% endblock %}
