{% extends "base.html" %}
{% block body_content %}
<!-- About Section Start here -->
<section class="about padding-tb" style="background: #fffaf4;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-thumb">
									<img src="../static/images/personnesmalades/maux%20de%20tete.jpg" alt="about-food">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <div class="section-header">
                        <span>Les carences à l'origine <br> des maux de tête</span>
                        <h2></h2>
                    </div>
                    <div class="section-wrapper">
											<p>Vitamine D <br>
												Vitamine B2 <br>
												Vitamine B9 <br>
											 	Fer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Ending here -->

		<!-- Popular Food Section Start Here -->
		<section class="popular-foods padding-tb style-2">
            <div class="container">
							<div class="section-header">
                <div class="section-wrapper">
									<h5>Les aliments qui soulagent les maux de tête</h5>
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/recettes/epinards.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Epinards') }}">Epinards</a></h6>
                                        <div class="p-food-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/recettes/poisson.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Poisson') }}">Poisson</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="p-food-item">
                                <div class="p-food-inner">
                                    <div class="p-food-thumb">
                                        <img src="../static/images/recettes/ginger.jpg" alt="p-food">
                                    </div>
                                    <div class="p-food-content">
                                        <h6><a href="{{ url_for('aliment_cliquer', nom='Gingembre') }}">Gingembre</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Popular Food Section Ending Here -->

				<!-- Blog Page Section Start Here -->
				<section class="popular-foods padding-tb style-2">
				    <div class="container">
				        <div class="section-wrapper">
									<h5>Comment consommer ces aliments ?</h5>
				            <div class="row">
				                <div class="col-xl-4 col-md-6 col-12">
				                    <div class="p-food-item">
				                        <div class="p-food-inner">
				                            <div class="p-food-thumb">
												<img src="../static/images/recettes/pancake.jpg">
											</div>
											<div class="p-food-content">
												<h6><a href="/recette.html">Pancakes à la courgette</a></h6>
												<p>Indispensable du brunch dominical, délicieusement fluffy.</p>
											</div>
				                        </div>
				                    </div>
				                </div>
				                <div class="col-xl-4 col-md-6 col-12">
				                    <div class="p-food-item">
				                        <div class="p-food-inner">
				                            <div class="p-food-thumb">
				                                <img src="../static/images/recettes/smoothie.png">
				                            </div>
				                            <div class="p-food-content">
				                                <h6><a href="/recette">Smoothie Gingembre et Mangue</a></h6>
				                                <p>En 10 minutes et c'est prêt !</p>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				                <div class="col-xl-4 col-md-6 col-12">
				                    <div class="p-food-item">
				                        <div class="p-food-inner">
				                            <div class="p-food-thumb">
				                                <img src="static/images/recettes/lasagnes.png">
				                            </div>
				                            <div class="p-food-content">
				                                <h6><a href="/recette">Lasagne saumon épinards</a></h6>
				                                <p>Recette ultragourmande de lasagne saumon épinard.</p>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</section>

{% endblock %}
